<div class="row py-5 text-center bg-primary text-light">
    <div class="col">
        <h3>Get Huge Savings On Medicines</h3>
        <div class="d-flex justify-content-center">
            <div class="p-2"><i class="bi bi-check-circle-fill mx-2"></i>100 % Genuine Medicines</div>
            <div class="p-2"><i class="bi bi-check-circle-fill mx-2"></i>Trusted Pharmacies </div>
            <div class="p-2"><i class="bi bi-check-circle-fill mx-2"></i>Delivery to your doorstep </div>
            <div class="p-2"><i class="bi bi-check-circle-fill mx-2"></i>Store Pick up</div>
        </div>
    </div>
</div>
<app-top-deal></app-top-deal>